@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@300;400;500;600;700&display=swap"); // import Rubik font for body and Righteous for logo font
:root {
  --black: hsl(0, 0%, 12%);
  --purple-blue: hsl(223, 100%, 63%);
  --white: hsl(0, 0%, 94%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}
.link {
  text-decoration: none;
}

.header {
  width: 100%;
  min-height: 75px;
  background-color: var(--black);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    font-family: "Righteous", cursive;
    color: hsl(0, 0%, 100%);
  }
}

.add-book {
  position: fixed;
  background-color: var(--purple-blue);
  width: 3rem;
  height: 3rem;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
  }
}

.shelf {
  color: var(--black);
  .shelf-title {
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-left: 0.4rem solid var(--purple-blue);
  }
}
