@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@300;400;500;600;700&display=swap"); // import Rubik font for body and Righteous for logo font
:root {
  --black: hsl(0, 0%, 12%);
  --purple-blue: hsl(223, 100%, 63%);
  --white: hsl(0, 0%, 94%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  min-height: 75px;
  background-color: var(--black);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    font-family: "Righteous", cursive;
    color: hsl(0, 0%, 100%);
  }
}

.add-book {
  position: fixed;
  background-color: var(--purple-blue);
  width: 3rem;
  height: 3rem;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
  }
}

.shelf {
  color: var(--black);
  .shelf-title {
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-left: 0.4rem solid var(--purple-blue);
  }
  .books-container {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 160px));
    gap: 1.7rem;
  }
}
.book-card {
  img {
    background-color: var(--purple-blue);
    width: 100%;
    height: 200px;
    object-fit: fill;
  }
  .book-title {
    margin-top: 0.5rem;
    font-weight: 400;
  }
}

// Search page
.search-container {
  margin: 1.5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .search-bar {
    display: inline-block;
    width: 80%;
    padding: 0.3rem 0.5rem;
    max-width: 600px;
    border: 1px solid #22222288;
    font-size: 1.3rem;
    border-radius: 5px;
  }
  .back-link {
    display: flex;
    font-size: 2rem;
    line-height: 0;
    color: var(--purple-blue);
  }
}
